<div id="header">
  <%= image_tag("beachgoonstxt.png")  %>
</div>
<section>
  <div class="col-md-offset-3 col-md-6">
    <div>
      <h2>Join Our Mailing List</h2>
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
        <br/>
        <%= f.button :submit, "Subscribe", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>
<div class="grid col-md-12">
  <div class="col-md-3">
    <%= image_tag("insta1.jpg")  %>
  </div>
  <div class="col-md-3">
    <%= image_tag("insta2.jpg")  %>
  </div>
  <div class="col-md-3">
    <%= image_tag("insta3.jpg")  %>
  </div>
  <div class="col-md-3">
    <%= image_tag("insta4.jpg")  %>
  </div>
</div>
<div class="grid col-md-12">
  <div class="col-md-3">
    <%= image_tag("insta5.jpg")  %>
  </div>
  <div class="col-md-3">
    <%= image_tag("insta6.jpg")  %>
  </div>
  <div class="col-md-3">
    <%= image_tag("insta7.jpg")  %>
  </div>
  <div class="col-md-3">
    <%= image_tag("insta8.jpg")  %>
  </div>
</div>
<section id="footer">
  <div class="col-md-offset-3 col-md-6">
    <div>
      <h2>Join Our Mailing List</h2>
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
        <br/>
        <%= f.button :submit, "Subscribe", :class => "submit" %>
      <% end %>
      <ul>
        <a class="social" target="_blank" href="https://www.facebook.com/GRNDVW/">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a class="social" target="_blank" href="https://twitter.com/grndvw">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a class="social" target="_blank" href="https://www.instagram.com/grndvw/">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a class="social" target="_blank">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
        <a class="social" target="_blank">
          <i class="fa fa-spotify" aria-hidden="true"></i>
        </a>
      </ul>
    </div>
  </div>
</section>
